<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css" />
  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  <title>Caspian</title>
</head>

<body>

  <!-- Top Navigation Menu -->
  <div class="topnav">
    <a href="/" class="active">
      <img src="https://caspianinsurance.co.uk/wp-content/themes/caspian-insurance/assets/img/logo.png" width="250"
        height="65" />
    </a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="/">Home</a>
      <a href="/insurances">Insurance</a>
      <a href="/user">User</a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" style="display: flex; align-items: center;" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <div class="desk-nav">
    <a href="/" class="active">
      <img src="https://caspianinsurance.co.uk/wp-content/themes/caspian-insurance/assets/img/logo.png" width="250"
        height="65" />
    </a>
    <div class="links-cont">
      <a href="/">Home</a>
      <a href="/insurances">Insurance</a>
      <a href="/user">User</a>
    </div>
  </div>

  <div id="signUp-cont">
    <h5>Don't have an account?&nbsp;</h5>
    <button id="myBtn">Sign Up</button>
  </div>

  <div id="welcome-user" class="user-cont">
    <h3 class="sub-title">Welcome to the user page, would you like to sign in?</h3>
    <h3 class="sub-title">Sign In</h3>

    <input id="username-input" type="text" placeholder="Enter your username">
    <button class="user-btn" onclick="fetchDetails()">Login</button>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h4 class="sub-title">Registration Form</h4>
      <form id="sign-up-form" action="/register" method="POST">
        <input name="username" type="text" placeholder="Create Username" required>
        <input name="first_name" type="text" placeholder="First Name" required>
        <input name="last_name" type="text" placeholder="Surname" required>
        <input name="balance" type="number" placeholder="Balance" required>
        <input class="user-btn" value="Submit" id="register-btn" onclick="submitForm()">
      </form>
    </div>

  </div>


  <div id="info-card">

  </div>

  <div id="insurance-cont">
  </div>


  <div class="blue-box">
    <button id="large-btn" onclick="enlarge()">Click to enlarge text</button>
    <button id="small-btn" onclick="reduce()">Click to reduce size</button>
    <p><br>Everyone is different, and require different types of insurance. This page was constructed to help our
      customers see their information and the packages they have or would we advise they have.<br>&nbsp;</p>
    <div id="footer-logo">
      <img src="https://caspianinsurance.co.uk/wp-content/themes/caspian-insurance/assets/img/footer-logo.png"
        width="80%" height="20%" />
    </div>
    <p>&nbsp;<br>Made By<br> &nbsp;</p>
    <div class="portfolio">
      <a href="https://stefangouldson.github.io/Portfolio2/">Stefan Gouldson</a>
      <a href="https://nathsaideportfolio.herokuapp.com/">Nathan Saide</a>
    </div>
  </div>
</body>
<script src="/script.js"></script>
<script src="/user.js"></script>

</html>