@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald'
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #06538B;
    position: sticky;
    top: 0;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .icon{
      height: 65px;
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: white;
  }

  .desk-nav{
      display: none;
      justify-content: space-between;
      align-items: center;
      padding-right: 10%;
  }

  .links-cont{
      display: flex;
      justify-content: space-between;
      width: 50%;
  }

  .desk-nav a{
      text-decoration: unset;
  }

.img-cont {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}

.img-box{
  border: solid black 2px;
  width: 90%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin: 1%;
  height: auto;
}

.txt-box{
  border: solid black 2px;
  width: 90%;
  height: fit-content;
  overflow: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
  height: 13em;
  padding: 1%;
  margin: 1%;
}

  @media only screen and (min-width:700px){
      .topnav{
          display: none;
      }

      .desk-nav{
        display: flex;
      }

      .img-cont{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .img-box{
        height: 13em;
      }
  }
